<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMAGE_FRAME_NAME</key>
	<array>
		<string>frame0</string>
		<string>frame1</string>
		<string>frame2</string>
		<string>frame3</string>
		<string>frame4</string>
		<string>frame5</string>
	</array>
	<key>IMAGE_FILTER_NAME</key>
	<array>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileNormal</string>
			<key>filtershortname</key>
			<string>Normal</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>filter-bt-hue</string>
			<key>filtershortname</key>
			<string>Hue/Sat</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>filter-bt-vignette</string>
			<key>filtershortname</key>
			<string>Vignette</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>filter-bt-vintage</string>
			<key>filtershortname</key>
			<string>Vintage</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>filter-bt-curve</string>
			<key>filtershortname</key>
			<string>Curve</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>filter-bt-bw</string>
			<key>filtershortname</key>
			<string>B/W</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileAmaro</string>
			<key>filtershortname</key>
			<string>Amaro</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileRise</string>
			<key>filtershortname</key>
			<string>Rise</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileHudson</string>
			<key>filtershortname</key>
			<string>Hudson</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileXpro2</string>
			<key>filtershortname</key>
			<string>X-pro2</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileSierra</string>
			<key>filtershortname</key>
			<string>Sierra</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileLomoFi</string>
			<key>filtershortname</key>
			<string>Lo-fi</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileEarlybird</string>
			<key>filtershortname</key>
			<string>Earlybird</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileSutro</string>
			<key>filtershortname</key>
			<string>Sutro</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileToaster</string>
			<key>filtershortname</key>
			<string>Toaster</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileBrannan</string>
			<key>filtershortname</key>
			<string>Brannan</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileInkwell</string>
			<key>filtershortname</key>
			<string>Inkwell</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileWalden</string>
			<key>filtershortname</key>
			<string>Walden</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileHefe</string>
			<key>filtershortname</key>
			<string>Hefe</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileValencia</string>
			<key>filtershortname</key>
			<string>Valencia</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileNashville</string>
			<key>filtershortname</key>
			<string>Nashville</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTile1977</string>
			<key>filtershortname</key>
			<string>1977</string>
		</dict>
		<dict>
			<key>filtername</key>
			<string>DSFilterTileLordKelvin</string>
			<key>filtershortname</key>
			<string>Kelvin</string>
		</dict>
	</array>
	<key>IMAGE_ARTWORK_NAME</key>
	<array>
		<string>testSticker1</string>
		<string>testSticker2</string>
		<string>testSticker3</string>
		<string>testSticker4</string>
		<string>testSticker5</string>
	</array>
	<key>IMAGE_OVERLAY_NAME</key>
	<array>
		<string>overlay0</string>
		<string>overlay1</string>
		<string>overlay2</string>
		<string>overlay3</string>
		<string>overlay4</string>
		<string>overlay5</string>
	</array>
</dict>
</plist>
