<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TATTOOLIST</key>
	<array>
		<dict>
			<key>GROUP</key>
			<string>TATTOO0</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_0_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_0</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_0</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_1</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_1</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_2</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_2</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_3</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_3</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_4</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_4</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_5</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_5</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_6</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_6</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_7</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_7</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_8</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_8</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_0_9</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_0_9</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO1</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_1_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_0</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_0</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_1</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_1</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_2</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_2</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_3</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_3</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_4</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_4</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_5</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_5</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_6</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_6</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_7</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_7</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_8</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_8</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_9</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_1_9</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO2</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_2_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_0</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_0</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_1</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_1</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_2</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_2</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_3</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_3</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_4</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_4</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_5</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_5</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_6</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_6</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_7</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_7</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_8</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_8</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_9</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_2_9</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO3</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_3_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_0</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_0</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_1</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_1</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_2</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_2</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_3</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_3</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_4</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_4</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_5</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_5</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_6</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_6</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_7</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_7</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_8</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_8</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_9</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_3_9</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO4</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_4_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_0</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_0</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_1</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_1</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_2</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_2</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_3</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_3</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_4</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_4</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_5</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_5</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_6</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_6</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_7</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_7</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_8</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_8</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_9</string>
					<key>TATTOOURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/9/98/Information_magnifier_icon.png</string>
					<key>TATTOOCODE</key>
					<string>code_4_9</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
