<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TATTOOLIST</key>
	<array>
		<dict>
			<key>GROUP</key>
			<string>TATTOO1</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_1_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_0</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_0.png</string>
					<key>TATTOOCODE</key>
					<string>tt0100</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_1</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_1.png</string>
					<key>TATTOOCODE</key>
					<string>tt0101</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_2</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_2.png</string>
					<key>TATTOOCODE</key>
					<string>tt0102</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_3</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_3.png</string>
					<key>TATTOOCODE</key>
					<string>tt0103</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_4</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_4.png</string>
					<key>TATTOOCODE</key>
					<string>tt0104</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_5</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_5.png</string>
					<key>TATTOOCODE</key>
					<string>tt0105</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_6</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_6.png</string>
					<key>TATTOOCODE</key>
					<string>tt0106</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_7</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_7.png</string>
					<key>TATTOOCODE</key>
					<string>tt0107</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_8</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_8.png</string>
					<key>TATTOOCODE</key>
					<string>tt0108</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_1_9</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_1_9.png</string>
					<key>TATTOOCODE</key>
					<string>tt0109</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO2</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_2_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_0</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_0.png</string>
					<key>TATTOOCODE</key>
					<string>tt0200</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_1</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_1.png</string>
					<key>TATTOOCODE</key>
					<string>tt0201</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_2</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_2.png</string>
					<key>TATTOOCODE</key>
					<string>tt0202</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_3</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_3.png</string>
					<key>TATTOOCODE</key>
					<string>tt0203</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_4</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_4.png</string>
					<key>TATTOOCODE</key>
					<string>tt0204</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_5</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_5.png</string>
					<key>TATTOOCODE</key>
					<string>tt0205</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_6</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_6.png</string>
					<key>TATTOOCODE</key>
					<string>tt0206</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_7</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_7.png</string>
					<key>TATTOOCODE</key>
					<string>tt0207</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_8</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_8.png</string>
					<key>TATTOOCODE</key>
					<string>tt0208</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_2_9</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_2_9.png</string>
					<key>TATTOOCODE</key>
					<string>tt0209</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO3</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_3_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_0</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_0.png</string>
					<key>TATTOOCODE</key>
					<string>tt0300</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_1</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_1.png</string>
					<key>TATTOOCODE</key>
					<string>tt0301</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_2</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_2.png</string>
					<key>TATTOOCODE</key>
					<string>tt0302</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_3</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_3.png</string>
					<key>TATTOOCODE</key>
					<string>tt0303</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_4</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_4.png</string>
					<key>TATTOOCODE</key>
					<string>tt0304</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_5</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_5.png</string>
					<key>TATTOOCODE</key>
					<string>tt0305</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_6</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_6.png</string>
					<key>TATTOOCODE</key>
					<string>tt0306</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_7</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_7.png</string>
					<key>TATTOOCODE</key>
					<string>tt0307</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_8</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_8.png</string>
					<key>TATTOOCODE</key>
					<string>tt0308</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_3_9</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_3_9.png</string>
					<key>TATTOOCODE</key>
					<string>tt0309</string>
				</dict>
			</array>
		</dict>
				<dict>
			<key>GROUP</key>
			<string>TATTOO4</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_4_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_0</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_0.png</string>
					<key>TATTOOCODE</key>
					<string>tt0400</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_1</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_1.png</string>
					<key>TATTOOCODE</key>
					<string>tt0401</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_2</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_2.png</string>
					<key>TATTOOCODE</key>
					<string>tt0402</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_3</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_3.png</string>
					<key>TATTOOCODE</key>
					<string>tt0403</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_4</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_4.png</string>
					<key>TATTOOCODE</key>
					<string>tt0404</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_5</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_5.png</string>
					<key>TATTOOCODE</key>
					<string>tt0405</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_6</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_6.png</string>
					<key>TATTOOCODE</key>
					<string>tt0406</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_7</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_7.png</string>
					<key>TATTOOCODE</key>
					<string>tt0407</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_8</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_8.png</string>
					<key>TATTOOCODE</key>
					<string>tt0408</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_4_9</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_4_9.png</string>
					<key>TATTOOCODE</key>
					<string>tt0409</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GROUP</key>
			<string>TATTOO5</string>
			<key>GROUPIMAGE</key>
			<string>tattoo_set_5_0</string>
			<key>ITEMARRAY</key>
			<array>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_0</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_0.png</string>
					<key>TATTOOCODE</key>
					<string>tt0500</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_1</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_1.png</string>
					<key>TATTOOCODE</key>
					<string>tt0501</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_2</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_2.png</string>
					<key>TATTOOCODE</key>
					<string>tt0502</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_3</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_3.png</string>
					<key>TATTOOCODE</key>
					<string>tt0503</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_4</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_4.png</string>
					<key>TATTOOCODE</key>
					<string>tt0504</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_5</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_5.png</string>
					<key>TATTOOCODE</key>
					<string>tt0505</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_6</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_6.png</string>
					<key>TATTOOCODE</key>
					<string>tt0506</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_7</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_7.png</string>
					<key>TATTOOCODE</key>
					<string>tt0507</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_8</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_8.png</string>
					<key>TATTOOCODE</key>
					<string>tt0508</string>
				</dict>
				<dict>
					<key>TATTOONAME</key>
					<string>tattoo_set_5_9</string>
					<key>TATTOOURL</key>
					<string>https://www.vdomax.com/assets/image/tattoo/tattoo_set_5_9.png</string>
					<key>TATTOOCODE</key>
					<string>tt0509</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
